/* latin-ext */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v10/-nFnOHM81r4j6k0gjAW3mujVU2B2G_5x0ujy.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v10/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    box-sizing: border-box;
 }
 img{
    vertical-align: middle;
 }
 body{
    margin: 0px;
 }
 button{
    border: none;
    cursor: pointer;
 }
 ul{
    margin: 0px;
    padding: 0px;
 }
 .container{
    max-width: 1260px;
    padding: 0px 30px;
    margin: 0px auto;
 }

 .header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
 }

 .header__btn{
    padding: 15px 13px 13px  2px;
    background: rgba(62, 227, 119, 0.988);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
 }

 .header__heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-decoration-line: underline;
color: #000000;
border: 1px solid #000000;
text-shadow: 0px 3px 3px rgba(210, 74, 64, 0.45);
 }
@media screen and (max-width: 430px) {
    .header__btn{
      font-size: 8px;
      font-weight: normal;
      padding: 5px 5px;
    }

    .btn__img{
      width: 20px;
      height: 20px;
    }

    .header__heading{
      font-size: 22px;
      font-weight: normal;
      padding: 3px;
    }
    .home{
      width: 70px;
      height: 60px;
    }
}

@media screen and (max-width: 560px) {
  .header__btn{
    font-size: 15px;
    font-weight: normal;
    padding: 5px 5px;
  }

  .header__heading{
    font-size: 22px;
    font-weight: 400;
    padding: 5px;
  }
  .home{
    width: 50px;
    height: 50px;
  }
}
 /* wekweokjweocmweo */

 .olivia__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .olivia__heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #000000;
 }

 .olivia__list{
    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .olivia__item{
    border: 1px solid black;
    padding: 10px;
 }

 .olivia__span{
    padding-left: 30px;
 }

 .olivia__cost{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
 }

 .olivia__input{
    max-width: 50px;
 }

 @media screen and (max-width: 770px ) {
    .olivia__img{
      max-width:200px;
    }
 }

 @media screen and (max-width: 560px) {
    .olivia__list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
      .olivia__item{
        margin-bottom: 30px;
      }

      .olivia__input{
        max-width: 100%;
      }
 }
 /* wmdowmcwocwew */

 .cloth{
    margin-top: 60px;
    display: flex;
    align-items: center;
 }

 .cloth__label{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
color: #000000;
 }

 .cloth__label__second{
    margin-left: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #000000;
    
    
 }
 .cloth__select{
    padding: 5px 20px 5px 20px;
    margin-left: 15px;
 }


 @media screen and (max-width: 775px) {
  .cloth__label__second{
    margin-left: 100px;
  }
 }

 @media screen and (max-width: 560px) {
    .cloth{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      margin-top:30px;
    }
    .cloth__label{
      margin-bottom: 10px;
    }

    .cloth__label__second{
     margin: 10px 0px;
    }

    .cloth__select{
      width: 100%;
      padding: 0px;
      height: 25px;
      margin: 0px;
    }
 }
 /* увюуцхжабцухабуцдха */

 .collection__box{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 @media screen and (max-width: 770px) {
    .collection__box{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .collection__box > label{
      margin-bottom: 10px;
    }
    .collection__box > input{
      margin-bottom: 20px;
      width: 30%;
      height: 30px;
    }
 }

 @media screen and (max-width: 560px) {
    .collection__box > input{
      width: 100%;
      height: 30px
    }
 }
/* profitsection */
  .profit__box{
    margin-top:50px;
    border: 1px solid black;
    padding-left: 20px;
  }
  .profit__item{
    list-style: none;
  }
  
  .profit__heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 25px;
line-height: 48px;
color: #000000;
  }

  .profit__describe{
    font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 30px;
line-height: 32px;
display: flex;
align-items: center;
color: #000000;
  }

  @media screen and (max-width: 560px) {
      .profit__heading{
        font-weight: 400px;
        font-size: 20px;
      }
      .profit__describe{
        font-weight: 400px;
        font-size: 20px;
      }
      .olivia__heading{
        font-size: 25px;
        margin-bottom: 10px;
      }
  }
  /* dkowjcwowio */
  .tropper{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
  }

  .tropper__image{
   max-width: 100%;
  }

  .tropper__box{
    margin-left: auto;
    margin-top: 30px;
  }

  .tropper__input{
    max-width: 60px;
  }

  .lenght{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .mainlenght{
font-family: 'Inter';
font-style: normal;
font-weight: 300px;
font-size: 30px;
line-height: 48px;
display: flex;
align-items: center;
color: #000000;
  }
.all{
    border: 1px solid black;
    padding-left: 30px;
    margin-bottom: 20px;
}
  .all__title{
    font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 25px;
line-height: 32px;
color: #000000;
  }

  .all__desc{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 20px;
color: #000000;
  }

  .submit__btn{
    padding: 8px 18px 8px 18px;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
    background: #7AC85F;
    color: white;
    border-radius: 10px;
  }

  @media screen and (max-width: 890px) {
    .lenght{
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @media screen and (max-width: 560px) {
    .mainlenght{
      font-size: 20px;
    }
    .lenght__input{
      width: 100%;
      height: 25px;
    }
  }
/* footerqismi */
  footer{
    background-color: rgb(56, 111, 42);
    padding: 20px 20px;
  }

  .footer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  a{
    text-decoration: none;
    color: white;
  }